body{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #333333;
}

.highlight {
    color: rgb(73, 206, 73);
    font-weight: bold;
}

.navbar {
    background-image: linear-gradient(to bottom right, #222222, #333333);
    padding: 10px 0;
    border-bottom: 1px solid #747474;
    text-align: center;
}

.nav-item {
    display: inline-block;
    margin: 0 15px;
}

.nav-item a {
    color: #f2f2f2;
    text-decoration: none;
}

.nav-item a:hover {
    color: rgb(73, 206, 73);
    text-align: center;
}

.titleh1 {
    color: #f2f2f2;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 130px;
    font-size: 45px;
}

.titlep {
    color: #f2f2f2;
    text-align: center;
    font-size: 18px;
    padding-bottom: 100px;
    padding-top: 1px;
}

.information-box {
    background-color: #333333;
    border: 1px solid #747474;
    margin-top: 20px;
    padding: 15px;
    margin: 20px auto;
    border-radius: 15px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.information-box-h1 {
    color: #f2f2f2;
    text-align: center;
    font-size: 30px;
}

.information-box-p {
    color: #f2f2f2;
    text-align: center;
    font-size: 16px;
}

.information-box-p-alt {
    color: #747474;
    text-align: center;
    font-size: 13px;
    padding-top: -10px;
    padding-bottom: 10px;
}

 .get-startedbtn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    background-color: rgb(73, 206, 73);
 }

 .get-startedbtn a {
    color: #333333;
    text-decoration: none;
 }